/* Inspired by https://codepen.io/diemoritat/pen/LKROYZ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --body-bg: #fafafa;
  --page-bg: #ffffff;
  --dark-text: #2a2935;
  /* spacing */
  /* this is what defines the global scale */
  --baseline: 16px;
  /* fonts */
  font-family: "Cormorant Garamond", serif;
  --base-size: var(--baseline) * 1.2;
}

button {
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
}

.book input[type="checkbox"] {
  display: none;
}
.book__page .page__content-book-title {
  font-size: calc(var(--base-size) * 3);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--dark-text);
  margin-top: calc(var(--baseline) * 5);
  margin-bottom: calc(var(--baseline) * 2);
}
.book__page .page__content-credits {
  font-size: calc(var(--base-size) * 0.8);
  margin-bottom: calc(var(--baseline) * 2);
  letter-spacing: 1px;
}
.book__page .page__content-author {
  font-size: calc(var(--base-size) * 1.2);
  font-weight: 100;
  text-transform: uppercase;
  color: var(--dark-text);
  border-top: 1px solid var(--dark-text);
  border-bottom: 1px solid var(--dark-text);
  display: inline-block;
  padding: calc(var(--baseline) / 2) calc(var(--baseline) / 5);
  margin-bottom: calc(var(--baseline) * 3);
}
.book__page .page__content-copyright {
  width: calc(100% - (var(--baseline) * 2));
  bottom: calc(var(--baseline) * 2);
  font-size: calc(var(--base-size) * 0.8);
}

@media only screen and (max-width: 1000px) {
  .book__page.book__page--1 img {
    position: absolute;
    left: 5%;
    z-index: -1;
    width: 90%;
    opacity: 0.1;
  }
  .book__page.book__page--4 {
    display: none;
  }
  .book__page-back {
    display: none;
  }
  .visible {
    display: block !important;
  }
  .hidden {
    display: none !important;
  }
  .book__page-front .page__content {
    text-align: center;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .cover {
    width: calc(var(--baseline) * 60);
    height: calc(var(--baseline) * 42.6);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
  }
  .book {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-perspective: 1200px;
    perspective: 1200px;
  }
  .book__page {
    position: relative;
    width: 50%;
    height: 100%;
    display: grid;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.9s
      cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1),
      -webkit-transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    background-color: var(--page-bg);
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#e3e3e3),
      color-stop(18%, rgba(247, 247, 247, 0))
    );
    background-image: linear-gradient(
      90deg,
      #e3e3e3 0%,
      rgba(247, 247, 247, 0) 18%
    );
  }
  .book__page:nth-of-type(1) {
    background-image: -webkit-gradient(
      linear,
      right top,
      left top,
      from(#e3e3e3),
      color-stop(18%, rgba(247, 247, 247, 0))
    );
    background-image: linear-gradient(
      -90deg,
      #e3e3e3 0%,
      rgba(247, 247, 247, 0) 18%
    );
  }
  .book__page--1 {
    overflow: hidden;
  }
  .book__page--1 img {
    height: 100%;
    width: auto;
    align-self: center;
  }
  .book__page--2 {
    position: absolute;
    right: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background-color: var(--page-bg);
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#e3e3e3),
      color-stop(18%, rgba(247, 247, 247, 0))
    );
    background-image: linear-gradient(
      90deg,
      #e3e3e3 0%,
      rgba(247, 247, 247, 0) 18%
    );
  }
  .book__page--4 {
    padding: 0 calc(var(--baseline) * 3);
  }
  .book__page-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(0deg) translateZ(1px);
    transform: rotateY(0deg) translateZ(1px);
  }
  .book__page-back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 calc(var(--baseline) * 1.8);
    -webkit-transform: rotateY(180deg) translateZ(1px);
    transform: rotateY(180deg) translateZ(1px);
  }
  .book__page .page__content {
    padding: var(--baseline);
    height: 100%;
    position: relative;
    text-align: center;
  }
  .book__page .page__content-title {
    font-size: calc(var(--base-size) * 1);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: calc(var(--baseline) * 5);
    margin-bottom: calc(var(--baseline) * 3);
  }
  .book__page .page__content-table {
    width: 100%;
    margin-top: calc(var(--baseline) * 2);
  }
  .book__page .page__content-table td {
    font-size: calc(var(--base-size) * 1);
    padding-bottom: calc(var(--baseline) * 1.5);
    text-transform: uppercase;
  }
  .book input[type="checkbox"]:checked + .book__page {
    -webkit-transition: -webkit-transform 0.9s
      cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1),
      -webkit-transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}


.input-label {
  align-self: center;
  display: block;
  text-align: left;
  margin-bottom: 2px;
}

.input {
  font-size: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  height: 2.25rem;
  padding: 0.25em 0.5em;
  margin-bottom: 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
}

.input:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
  box-shadow: 0 0 0 3px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );
  /* For Windows High Contrast mode */
  outline: 3px solid transparent;
}

button {
  width: 100%;
  font-size: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  height: 2.25rem;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border-radius: 4px;
  background-color: hsl(245, 54%, 44%);
  color: #fff;
  transition: 180ms box-shadow ease-in-out;
}

button:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
  box-shadow: 0 0 0 3px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );
  /* For Windows High Contrast mode */
  outline: 3px solid transparent;
}

.inline-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
  text-decoration: underline;
  cursor: pointer;
  transition: 180ms box-shadow ease-in-out;
}

.inline-button:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
  box-shadow: 0 0 0 3px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );
  /* For Windows High Contrast mode */
  outline: 3px solid transparent;
}